<div class="row gutter-xs">
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <a class="card-img overlay overlay-hover" href="@Url.Action("ASP","Convert")">
                <div class="overlay-gradient">
                    <img class="card-img img-responsive" src="https://cdn.lynda.com/course/647683/647683-636403017293304371-16x9.jpg" alt="Golden Gate Bridge, San Francisco">
                </div>
                <div class="overlay-content">
                    <div class="overlay-content overlay-top">
                        <h4 class="overlay-title">
                            10 great things to do in
                            <span class="nowrap">San Francisco</span>
                        </h4>
                    </div>
                    <div class="overlay-content overlay-bottom overlay-slide-up">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img class="media-object img-circle" width="32" height="32" src="img/1099386850.jpg" alt="Jessica Brown">
                            </div>
                            <div class="media-body media-middle">
                                <em>by</em>
                                <strong>Jessica Brown</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <a class="card-img overlay overlay-hover" href="#">
                <div class="overlay-gradient">
                    <img class="card-img img-responsive" src="https://i0.wp.com/awesome-angular.com/wp-content/uploads/2017/06/zero-to-hero.jpg?fit=2048%2C1152&ssl=1" alt="Golden Gate Bridge, San Francisco">
                </div>
                <div class="overlay-content">
                    <div class="overlay-content overlay-top overlay-slide-right">
                        <h4 class="overlay-title">
                            10 great things to do in
                            <span class="nowrap">San Francisco</span>
                        </h4>
                    </div>
                    <div class="overlay-content overlay-bottom">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img class="media-object img-circle" width="32" height="32" src="img/1099386850.jpg" alt="Jessica Brown">
                            </div>
                            <div class="media-body media-middle">
                                <em>by</em>
                                <strong>Jessica Brown</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card text-center">
            <a class="card-img overlay overlay-hover" href="#">
                <div class="overlay-gradient">
                    <img class="card-img img-responsive" src="http://blog.workshape.io/content/images/2015/10/cover.png" alt="Golden Gate Bridge, San Francisco">
                </div>
                <div class="overlay-content">
                    <div class="overlay-content overlay-slide-left">
                        <div class="fh">
                            <div class="fh-m">
                                <ul class="list-inline">
                                    <li>
                                        <span class="icon icon-heart"></span>
                                        102k
                                    </li>
                                    <li>
                                        <span class="icon icon-comment"></span>
                                        285
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card text-center">
            <a class="card-img overlay overlay-hover" href="#">
                <div class="overlay-gradient">
                    <img class="card-img img-responsive" src="https://i.pinimg.com/originals/9d/fb/da/9dfbdaa5df3a6a9bc61fe84d058918bb.png" alt="Golden Gate Bridge, San Francisco">
                </div>
                <div class="overlay-content">
                    <div class="overlay-content overlay-slide-right">
                        <div class="fh">
                            <div class="fh-m">
                                <ul class="list-inline">
                                    <li>
                                        <span class="icon icon-heart"></span>
                                        102k
                                    </li>
                                    <li>
                                        <span class="icon icon-comment"></span>
                                        285
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
 