<div class="row gutter-xs">
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <a class="card-img overlay overlay-hover" href="@Url.Action("ASP","Convert")">
                <div class="overlay-gradient">
                    <img class="card-img img-responsive" src="https://cdn.lynda.com/course/647683/647683-636403017293304371-16x9.jpg" alt="Golden Gate Bridge, San Francisco">
                </div>
                <div class="overlay-content">
                    <div class="overlay-content overlay-top">
                        <h4 class="overlay-title">
                           ASP.NET 
                            <span class="nowrap">MVC</span>
                        </h4>
                    </div> 
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <a class="card-img overlay overlay-hover" href="@Url.Action("Soon","Home")">
                <div class="overlay-gradient">
                    <img class="card-img img-responsive" src="https://i0.wp.com/awesome-angular.com/wp-content/uploads/2017/06/zero-to-hero.jpg?fit=2048%2C1152&ssl=1" alt="Golden Gate Bridge, San Francisco">
                </div>
                <div class="overlay-content">
                    <div class="overlay-content overlay-top overlay-slide-right">
                        <h4 class="overlay-title">
                            Angular
                            <span class="nowrap">App</span>
                        </h4>
                    </div>

                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card text-center">
            <a class="card-img overlay overlay-hover" href="@Url.Action("Soon","Home")">
                <div class="overlay-gradient">
                    <img class="card-img img-responsive" src="http://blog.workshape.io/content/images/2015/10/cover.png" alt="Golden Gate Bridge, San Francisco">
                </div>
                <div class="overlay-content">
                    <div class="overlay-content overlay-top">
                        <h4 class="overlay-title">
                            React
                            <span class="nowrap">Js</span>
                        </h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card text-center">
            <a class="card-img overlay overlay-hover" href="@Url.Action("Soon","Home")">
                <div class="overlay-gradient">
                    <img class="card-img img-responsive" src="https://i.pinimg.com/originals/9d/fb/da/9dfbdaa5df3a6a9bc61fe84d058918bb.png" alt="Golden Gate Bridge, San Francisco">
                </div>
                <div class="overlay-content">
                    <div class="overlay-content overlay-top">
                        <h4 class="overlay-title">
                            Vue
                            <span class="nowrap">Js</span>
                        </h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
 