
@{
    ViewBag.Title = "Soon";
}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="demo-form-wrapper">
                <div class="error">
                    <div class="error-body">
                        <h1 class="error-heading">Very Soon</h1>
                        <h4 class="error-subheading">we will try to add the functional very soon</h4>
                        <p>
                            <small>if you have any questions or requests, you can contact me by email ahmedoumezzine@outlook.fr </small>
                        </p>
                        <p><a class="btn btn-primary btn-pill btn-thick" href="@Url.Action("Index","Home")">Return to homepage</a></p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
